:root {
	--basic-white: #FFFFFF;
	--basic-carmine-pink: #EE3643;
	--basic-cream-red: #CA2C37;
	--basic-dark-red: #BA2732;
	--basic-smoky-white: #EAEAEA;
	--basic-black: #000000;
	--basic-dark-blue: #1D2739;
	--basic-purple-blue: #32425C;
	--basic-periwinkle-craiola: #F1F5F7;
	--basic-pale-orange-yellow: #FFD180;
	--basic-sapphire-blue: #212A3A;
	--basic-white-aluminum: #A9A9A9;
	--basic-night-blue: #293449;
	--basic-silver: #C5C5C5;
	--basic-periwinkle-craiola: #F3F7F9;
	--basic-beige: #F9F5F0;
	--basic-twitter-color: #3BBCE3;
	--basic-dark-green: #63A63E;
	--basic-grandma-apples: #8ED78F;
	--basic-dark-green: #518534;
	--basic-blue-craiola: #B7BFC8;
	--basic-light-plum: #DC91D8;
	--basic-shiny-orange: #FFBF47;
	--basic-pale-yellow: #FFDA96;
	--basic-gray-brown: #444444;
	--basic-gainsborough: #E5E5E5;
	--basic-pearl-white: #F7F3EC;
	--basic-pale-blue: #D7DCDE;
	--basic-dark-black: #161D29;
}

@font-face {
	font-family: "Cuprum";
	src: url('../fonts/cuprum.woff2'), url('../fonts/cuprum.woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Cuprum";
	src: url('../fonts/cuprumbold.woff2'), url('../fonts/cuprumbold.woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "PT Sans";
	src: url('../fonts/ptsans.woff2'), url('../fonts/ptsans.woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "PT Sans";
	src: url('../fonts/ptsansbold.woff2'), url('../fonts/ptsansbold.woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Cuprum";
	src: url('../fonts/cuprumbolditalic.woff2'), url('../fonts/cuprumbolditalic.woff');
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Cuprum";
	src: url('../fonts/cuprumitalic.woff2'), url('../fonts/cuprumitalic.woff');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}


/* Глобальные стили */

body {
	min-width: 960px;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}


/* Селекторы */

.sections-headline {
	font-family: "Cuprum", Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	margin: 0;
	padding-top: 30px;
	padding-bottom: 30px;

}

.sorting {
	background-color: var(--basic-pearl-white);
}

.log-in,
.registration,
.button-buy,
.to-bookmarks,
.feed-back-button,
.feed-back-submit,
.feed-back-close,
.map-close,
.slider-button-left,
.slider-button-right,
.search-button,
.sorting-button-up,
.sorting-button-dwn,
.continius-order,
.order-close {
	padding: 0;
	border: none;
	outline-color: var(--basic-black);
}

.search-button {
	padding-top: 10px;
	padding-bottom: 10px;
	width: 220px;
	border: 1px solid var(--basic-gainsborough);
}

.slider-button-left {
	position: relative;
	width: 22px;
	height: 40px;
	background-color: transparent;
	margin-left: 24px;
}

.slider-button-left::before {
	content: "";
	top: 0;
	left: 0;
	width: 22px;
	height: 40px;
	background-image: url(../img/icon_slider_switching.png);
	background-repeat: no-repeat;
	position: absolute;
}

.slider-button-right {
	position: relative;
	width: 22px;
	height: 40px;
	background-color: transparent;
	margin-left: 526px;
	margin-right: 20px;
}

.slider-button-right::before {
	content: "";
	top: 0;
	left: 0;
	width: 22px;
	height: 40px;
	background-image: url(../img/icon_slider_switching.png);
	background-repeat: no-repeat;
	transform: rotate(180deg);
	position: absolute;
}

.feed-back-button {
	padding-left: 61px;
	padding-right: 61px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 25px;
}

.feed-back-button:active {
	outline: none;
}

.log-in {
	width: 121px;
	min-height: 45px;
	margin-right: 10px;
}

.log-in:hover,
.registration:hover {
	color: var(--basic-carmine-pink);
}

.log-in:hover::before {
	opacity: 1;
}

.log-in:active,
.registration:active {
	color: var(--basic-silver);
}

.log-in:active::before {
	opacity: 0.3;
}

.log-in {
	position: relative;
	font-size: 21px;
	line-height: 21px;
	background-color: var(--basic-white);
	padding-left: 18px;
	margin: 0;
}

.log-in::before {
	content: "";
	width: 20px;
	height: 17px;
	position: absolute;
	top: 13px;
	left: 19px;
	background-image: url(../img/icon_login.png);
	background-repeat: no-repeat;
	opacity: 0.3;
}

.input-background {
	background-color: transparent;
	padding-left: 43px;
}

.nav-menu .ul-style:last-child {
	margin-right: 47px;
}
.ul-style {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	list-style-type: none;
	padding: 0;
}

.ul-style:first-child {
	margin-left: 71px;
}

.ul-style li {
	display: block;
}

.manufacturers li {
	border: 1px solid var(--basic-beige);
}

.manufacturers li:hover {
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.manufacturers li:active {
	opacity: 0.5;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.main-header {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	background-color: var( --basic-periwinkle-craiola);
}

.map-widget {
	display: none;
}

.feedback-popup {
	display: none;
}

.feedback-info a:hover,
.developed-by a:hover {
	text-decoration: underline;
}

.feedback-info a:active,
.developed-by a:active {
	text-decoration: none;
	color: var(--basic-carmine-pink);
}

.head-logo {
	position: absolute;
	top: 0;
	left: 0;
	width: 220px;
	min-height: 47px;
	background-color: var(--basic-carmine-pink);
	box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.head-logo img {
	padding-top: 12px;
	padding-left: 55px;
}

.head-logo:active {
	background-color: var(--basic-dark-red);
}

.main-panel {
	background-color: var( --basic-night-blue);
	line-height: 24px;
	font-size: 18px;
	font-weight: 400;
}

.authorization-registration-panel {
	display: none;
}

.user-panel-login {
	color: var(--basic-black);
	padding-top: 14px;
	position: relative;
	padding-left: 53px;
	
}

.user-panel-logout {
	position: relative;
	background-color: var(--basic-white);
	width: 50px;
	height: 45px;
}

.user-panel-login::before {
	content: "";
	position: absolute;
	background-image: url(../img/icon_user.png);
	top: 30%;
	left: 15px;
	width: 20px;
	height: 18px;
	opacity: 0.3;
}

.user-panel-logout::before {
	content: "";
	position: absolute;
	background-image: url(../img/icon_logout.png);
	background-repeat: no-repeat;
	top: 30%;
	left: 25%;
	width: 20px;
	height: 17px;
	opacity: 0.3;
}

.user-panel-login:hover::before, .user-panel-logout:hover::before {
	opacity: 1;
}

.user-panel-login:active::before, .user-panel-logout:active::before {
	opacity: 0.3;
}


.user-panel-login:active {
	color: var(--basic-silver);
}

.account-info-on {
	width: 299px;
}

.wrap-accout-info {
	display: flex;
	justify-content: space-between;
	width: 299px;
	min-height: 45px;
	font-size: 21px;
	line-height: 21px;
	background-color: var(--basic-white);
}

.registration {
	width: 150px;
	min-height: 45px;
	font-size: 21px;
	line-height: 21px;
	background-color: var(--basic-white);
}

.account-info {
	display: none;
}

.authorization-registration-disable {
	display: none;
}

.main-panel a {
	font-family: "Cuprum", Arial, sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	color: var(--basic-white);
}

.user-bookmarks {
	width: 100px;
	min-width: 42px;
	position: relative;
	padding-top: 9px;
	padding-bottom: 9px;
	padding-left: 30px;

}

.user-bookmarks::before {
	content: "";
	width: 14px;
	height: 16px;
	position: absolute;
	top: 13px;
	left: 8px;
	background-image: url(../img/Shape.png);
	background-repeat: no-repeat;
	opacity: 0.3;
}
.user-bookmarks:hover::before {
	opacity: 1;
}
.user-bookmarks:active {
	color: rgba(255, 255, 255, 0.8);
	background-color: var(--basic-dark-black);
	opacity: 0.3;
}

.user-store-basket {
	width: 100px;
	min-width: 42px;
	position: relative;
	padding-top: 9px;
	padding-bottom: 9px;
	padding-left: 30px;

}

.user-store-basket::before {
	position: absolute;
	content: "";
	width: 18px;
	height: 18px;
	position: absolute;
	top: 13px;
	left: 8px;
	background-image: url(../img/inv.svg);
	background-repeat: no-repeat;
	opacity: 0.3;
}

.user-store-basket:hover::before {
	opacity: 1;
}

.user-store-basket:active {
	color: rgba(255, 255, 255, 0.8);
	background-color: var(--basic-dark-black);
	opacity: 0.3;
}

.search-form .input-background {
	width: 271px;
	min-height: 42px;
	border: 0;
}

.checkout-main-panel {
	width: 150px;
	background-color: var( --basic-dark-green);
	text-align: center;
	padding-top: 10px;
	
}

.checkout-main-panel:active {
	background-color: var( --basic-dark-green);
	color: rgba(255, 255, 255, 0.5);
}

.checkout-main-panel:hover {
	background-color: var(--basic-grandma-apples);
}

.main-panel-authorization .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 153px;
}

.main-panel-authorization .store-description {
	width: 197px;
	min-height: 71px;
	margin-left: 30px;
	color: var(--basic-carmine-pink);
	font-weight: 400;
	font-size: 16px;
	line-height: 23px;
	font-style: italic;
}

.cont-number {
	position: relative;
	width: 270px;
	min-width: 45px;
	margin-left: 40px;
	color: var(--basic-carmine-pink);
	font-weight: 700;
	font-size: 21px;
	line-height: 30px;
}

.cont-number::before {
	content: "";
	width: 19px;
	height: 19px;
	position: absolute;
	top: 5px;
	left: -28px;
	background-image: url(../img/icon_phone.png);
	background-repeat: no-repeat;
}

.search-form {
	position: relative;
	margin-left: 220px;
}

.search-field input {
	font-family: "Cuprum", Arial, sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	color: var(--basic-white);
}

.icon-search {
	content: "";
	width: 17px;
	height: 17px;
	opacity: 0.3;
	position: absolute;
	top: 12px;
  left: 18px;
}

.search-field input:focus {
	color: var(--basic-black);
	background-color: var(--basic-white);
}

.input-background:focus + svg path{
	fill: var(--basic-cream-red);
}

.input-background:hover + svg {
	opacity: 1;
}


.adress {
	width: 250px;
	min-height: 24px;
	margin: 0 auto;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	color: var(--basic-purple-blue);
}

.wrapper-account-panel a {
	font-family: "Cuprum", Arial, sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	color: var(--basic-purple-blue);
}

.wrapper-account-panel a:hover {
	color: var(--basic-carmine-pink);
}

.wrapper-account-panel a:active {
	color: var(--basic-silver);
}

.company-contacts {
	width: 300px;
}

.company-description,
.company-contacts p {
	font-family: "PT Sans", Arial, sans-serif;
	font-weight: 400;
	font-size: 13px;
	line-height: 24px;
}

.company-description li p {
	font-family: "Cuprum", Arial, sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
}

.main-nav {
	background-color: var(--basic-purple-blue);
	width: 940px;
	padding-top: 18px;
	padding-bottom: 18px;
	margin: 0 auto;
	margin-bottom: 60px;
}

.main-nav a {
	color: var(--basic-white);
}

.main-nav a:hover {
	background-color: var(--basic-night-blue);
}

.main-nav a:active {
	background-color: var(--basic-dark-blue);
	opacity: 0.5;
}

.main-nav .ul-style {
	margin-top: 0;
	margin-bottom: 0;
}

.promo-block h3:nth-last-child(2n) {
	font-family: "Cuprum", Arial, sans-serif;
	font-weight: 700;
	font-size: 30px;
	line-height: 30px;
	color: var(--basic-white);
}

.slider-name {
	text-transform: uppercase;
	margin: 0;
	padding-left: 24px;
}

.slider-info {
	font-family: "Cuprum", Arial, sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	color: var(--basic-white);
	margin: 0;
	padding-left: 24px;
}

.mat-link,
.tool-link,
.equ-link,
.sal-link,
.del-link {
	display: block;
	width: 135px;
	font-family: "Cuprum", Arial, sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	text-decoration: none;
	color: var(--basic-white);
	opacity: 0.8;
	background-color: rgba(255, 255, 255, 0.3);
	text-transform: uppercase;
}

.mat-link:hover,
.tool-link:hover,
.equ-link:hover,
.sal-link:hover,
.del-link:hover {
	background-color: var(--basic-silver);
}

.mat-link:active,
.tool-link:active,
.equ-link:active,
.sal-link:active,
.del-link:active {
	background-color: var(--basic-white-aluminum);
}

.logo-footer {
	width: 220px;
	min-height: 68px;
	text-align: center;
	background-color: var(--basic-carmine-pink);
	box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.logo-footer img {
	padding-top: 20px;
}

.footer {
	font-family: "Cuprum", Arial, sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
}

.footer-services a:hover {
	text-decoration: underline;
}

.wrap-second-nav {
	background-color: var(--basic-night-blue);
	min-height: 107px;
}

.second-footer-section {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 16px;
	line-height: 18px;
	min-height: inherit;
}

.second-footer-section,
.second-footer-section p {
	color: var(--basic-white);
}

.second-footer-section a {
	color: var(--basic-shiny-orange);
}

.social-icons {
	margin-left: 74px;
}

.social-icons li {
	display: block;
	width: 44px;
	min-height: 44px;
	background-color: var(--basic-sapphire-blue);
	border-radius: 100px;
	border: 0px solid;
	margin-right: 5px;
}

.social-icons li:hover {
	background-color: var(--basic-carmine-pink);
}

.vk-link {
	width: 44px;
	height: 44px;
	display: block;
	background-image: url(../img/icon_vk.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	
}

.fb-link {
	width: 44px;
	height: 44px;
	display: block;
	background-image: url(../img/icon_fb.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.inst-link {
	width: 44px;
	height: 44px;
	display: block;
	background-repeat: no-repeat;
	background-image: url(../img/icon_insta.png);
	background-position: 50% 50%;
}

.footer-wrapper-main {
	background-color: var(--basic-purple-blue);
	min-height: 193px;
}

.wrap-main-nav {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.footer-adress,
.footer-adress a {
	color: var(--basic-white);
}

.footer-adress {
	width: 321px;
	display: inline-block;
}

.footer-nav a {
	color: var(--basic-white);
}

.footer-nav a:hover {
	text-decoration: underline;
}

.footer-nav a:active {
	opacity: 0.5;
	text-decoration: none;
}

.footer-nav-services a:active {
	opacity: 0.5;
	text-decoration: none;
}

.footer-nav-services {
	width: 600px;
	font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px
}

.footer-nav {
	width: 600px;
	font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px
}

.footer-nav .ul-style{
	margin-left: 48px;
}

.footer-services a {
	color: var(--basic-shiny-orange);
}

.store-basket {
	display: none;
}

.bread-crumbs {
	display: flex;
	position: relative;
}

.bread-crumbs ul {
	padding-left: 25px;
}

.bread-crumbs::before {
	content: "";
	position: absolute;
	width: 14px;
	height: 12px;
	background-image: url(../img/icon_home.jpg);
	top: 18px;
	left: 0;
}

.bread-crumbs a {
	font-family: "PT Sans", Arial, sans-serif;
	font-weight: 400;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	color: var(--basic-black);
}

.list-link-crumbs li {
	position: relative;
	padding-left: 13px;
	padding-right: 10px;
}

.list-link-crumbs li::before {
	content: "";
	position: absolute;
	background-image: url(../img/icon_right_small.jpg);
	top: 2px;
	left: 0;
	width: 8px;
	height: 12px;

}

.filter,
.sorting,
.product-cards,
.page-navigation {
	font-family: "PT Sans", Arial, sans-serif;
	font-weight: 400;
}

.filter legend {
	font-weight: 700;
	font-size: 17px;
	line-height: 55px;
	text-transform: uppercase;
}

.filter label {
	font-family: "PT Sans", Arial, sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 15px;
	line-height: 19px;
	color: var(--basic-black);
}

.filter button {
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	color: var(--basic-black);
	background-color: transparent;
}

.filter h2 {
	width: 220px;
	margin: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 18px;
	background-color: var(--basic-pearl-white);
}

.filter h2,
.sorting h2 {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: var(--basic-black);
	text-transform: uppercase;
	font-weight: 400;
}

.filter h2,
.sorting h2 {
	margin-top: 0;
	margin-bottom: 0;
}

.sorting p:hover {
	opacity: 1;
}

.sorting p:active {
	color: var(--basic-carmine-pink);
}

.product-cards article {
	background-image: url(../img/label_new_products.jpg);
	background-repeat: no-repeat;
	border: 1px solid #EAEAEA;
	box-sizing: border-box;
	width: 220px;
	position: relative;
}

.new-mark::before {
	content: "";
  position: absolute;
  top: 0;
  left: 158px;
  width: 60px;
  height: 59px;
  background-image: url(../img/label_new_products.png);
}

.product-cards article:hover {
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.product-cards span {
	text-transform: uppercase;
}

.product-cards h3 {
	text-align: center;
  margin-top: 8px;
  margin-bottom: 0;
}

.button-buy,
.to-bookmarks {
	font-family: "Cuprum", Arial, sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
}

.button-buy {
	color: var(--basic-white);
	background-color: var(--basic-dark-green);
	background-image: url(../img/inv.png);
	background-repeat: no-repeat;
}

.button-buy:hover {
	background-color: var(--basic-grandma-apples);
}

.button-buy:active {
	outline: none;
	background-color: var(--basic-dark-green);
}

.to-bookmarks {
	color: var(--basic-purple-blue);
	background-color: var(--basic-white);
	border: 2px solid var(--basic-dark-green);
}

.to-bookmarks:hover {
	border: 2px solid var( --basic-purple-blue);
}

.to-bookmarks:active {
	outline: none;
	border: 2px solid rgba(0, 0, 0, 0.28);
	opacity: 0.5;
}

.old-price {
	font-weight: 700;
	font-size: 17px;
	line-height: 18px;
	color: var(--basic-white-aluminum);
	text-decoration: line-through;
	margin: 0;
}

.about-perf {
	font-family: "PT Sans", Arial, sans-serif;
	font-weight: 400;
	font-size: 13px;
  line-height: 24px;
  margin: 0;
}

.new-price {
	display: inline-block;
	width: 141px;
	min-height: 38px;
	font-weight: 700;
	font-size: 17px;
	line-height: 18px;
	color: var(--basic-pearl-white);
	background-image: url(../img/red_button.jpg);
	background-repeat: no-repeat;
	margin: 0;
	text-align: center;
	padding-top: 10px;
	margin-top: 13px;
}
.page-navigation {
	font-size: 13px;
	line-height: 18px;
	color: var(--basic-black);
	text-transform: uppercase;
}

.page-navigation li {
	width: 38px;
	min-height: 38px;
	border: 1px solid var(--basic-gainsborough);
	border-radius: 2px;
	text-align: center;
	vertical-align: middle;
	line-height: 38px;
}

.page-navigation li:last-child {
	width: 140px;
	min-height: 38px;
	border: 1px solid var(--basic-gainsborough);
	border-radius: 2px;
	text-align: center;
	vertical-align: middle;
	line-height: 38px;
}

.page-navigation li:hover {
	border: 1px solid var(--basic-silver);
	background: var(--basic-white);
	border-radius: 2px;
}

.page-navigation li:active {
	border: 1px solid var(--basic-carmine-pink);
	border-radius: 2px;
}

.page-navigation li:first-child {
	background: var(--basic-carmine-pink);
}

.manufacturers {
	min-height: 310px;
	align-content: space-between;
}

.popular-manufacturers ul a {
	width: 220px;
	display: block;
	text-align: center;
	line-height: 145px;
}

.popular-manufacturers img {
	vertical-align: middle;
	
}

.open-catalog-slider {
	display: block;
	width: 192px;
	margin-top: 39px;
}

.all-popular-products {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 25px;
	padding-right: 25px;
	margin-right: 14px;
}

.all-popular-manufacturers {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 39px;
	padding-right: 39px;
	margin-right: 14px;
}

.company-details {
	display: block;
	width: 220px;
	text-align: center;
	padding-top: 11px;
	padding-bottom: 11px;
	margin-top: 15px;
}

.open-catalog-slider,
.all-popular-manufacturers,
.all-popular-products,
.company-details,
.feed-back-button {
	font-family: "Cuprum", Arial, sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	color: var(--basic-white);
	text-transform: uppercase;
	background-color: var(--basic-carmine-pink);
}

.open-catalog-slider:hover,
.all-popular-manufacturers:hover,
.all-popular-products:hover,
.company-details:hover,
.feed-back-button:hover {
	background-color: var(--basic-cream-red);
}

.open-catalog-slider:active,
.all-popular-manufacturers:active,
.all-popular-products:active,
.company-details:active,
.feed-back-button:active {
	background-color: var(--basic-dark-red);
}

.materials-cards {
	position: relative;
	background-color: var(--basic-shiny-orange);
	background-image: url(../img/icon_materials.png);
	background-repeat: no-repeat;
	background-position: 213px;
	margin-left: 0;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.materials-cards  h3, 
.tools-cards  h3, 
.equipment-cards  h3, 
.sales-cards  h3, 
.delivery-cards h3 {
	margin-top: 20px;
	margin-bottom: 10px;
}

.materials-cards::after {
	content: "";
	position: absolute;
	top: 0;
	left: 240px;
	width: 60px;
	height: 59px;


	background-image: url(../img/label_new_products.png);
}

.tools-cards {
	background-color: var(--basic-twitter-color);
	background-image: url(../img/icon_tool.png);
	background-repeat: no-repeat;
	background-position: 194px;
	margin: 10px;
}

.equipment-cards {
	background-color: var(--basic-light-plum);
	background-image: url(../img/icon_equipment.png);
	background-repeat: no-repeat;
	background-position: 191px;
	margin: 10px;
}

.sales-cards {
	background-color: var(--basic-grandma-apples);
	background-image: url(../img/icon_discount.png);
	background-repeat: no-repeat;
	background-position: 196px;
}

.delivery-cards {
	background-color: var(--basic-shiny-orange);
	background-image: url(../img/icon_delivery.png);
	background-repeat: no-repeat;
	background-position: 191px;
}

.rotary-hammers-slider {
	position: relative;
	background-image: url(../img/background_punch_slider.jpg);
}

.drills-cards {
	width: 620px;
	min-height: 266px;
	background-image: url(../img/background_drill_slider.jpg);
}

.page {
	height: 100%;
}

.page-body {
	min-height: 100%;
	display: grid;
	grid-template-rows: min-content 1fr min-content;
	align-content: start;
}

.container {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}

.main-panel .container {
	display: flex;
}

.promo-block {
	display: grid;
	grid-template-columns: 310px 320px 320px;
	grid-template-rows: 143px 143px 143px;
}

.promo-block h3 {
	padding-left: 22px;
}

.promo-block a {
	margin-left: 22px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

.drills-cards {
	display: none;
	margin: 10px;
}

.rotary-hammers-slider {
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-end: 4;
	grid-row-start: 2;
	margin-left: 0;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.sales-cards {
	grid-column-start: 3;
	grid-row-end: 3;
	margin: 10px;
}

.delivery-cards {
	grid-column-start: 3;
	grid-row-start: 3;
	margin: 10px;
}

.wrapp-ppular {
	width: inherit;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--basic-beige);
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 70px;
}

.wrapp-ppular .sections-headline {
	margin-left: 28px;
}

.wrapp-card {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

.wrapp-card article, .product-cards article {
	margin-right: 20px;
	padding: 0;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
}

.item-cards article {
	margin-left: 20px;
	margin-right: 0;
}

.wrapp-card article h3 {
	text-align: center;
	margin-top: 8px;
	margin-bottom: 0;
}

.services {
	background-color: var(--basic-periwinkle-craiola);
	margin-top: 75px;
}

.services p {
	width: 394px;
	font-family: "PT Sans", Arial, sans-serif;
	font-weight: 400;
	font-size: 13px;
	line-height: 24px;
	margin: 0;
}

.services-list,
.list-couriers {
	list-style-type: none;
}

.services-list-base{
	color: var(--basic-white);
	background-color: var(--basic-purple-blue);
}

.services-list-active {
	color: var(--basic-purple-blue);
	background-color: var(--basic-white);
}

.services-list{
	padding: 0;
}

.services-list li {
	width: 240px;
	height: 64px;
}

.services-list p {
	padding-left: 22px;
	padding-top: 15px;
	font-weight: 700;
	font-size: 21px;
	line-height: 30px;
}

.services-list {
	position: relative;
}

.services-list::after {
	content: "";
	position: absolute;
	top: -42px;
	left: 230px;
	width: 10px;
  height: 279px;
  background-image: url(../img/shadow.png);

}

.services-list li:hover {
	background-color: var(--basic-night-blue);
}

.list-couriers li{
	position: relative;
}

.list-couriers li p::before {
	content: "";
	position: absolute;
	width: 25px;
	height: 2px;
	background-image: url(../img/dash.png);
	top: 10px;
	left: -35px;
}

.services-delivery {
	font-family: "Cuprum", Arial, sans-serif;
	font-weight: 400;
	font-size: 30px;
	line-height: 30px;
	color: var(--basic-purple-blue);
	text-transform: uppercase;
}

.service-description {
	font-family: "PT Sans", Arial, sans-serif;
	font-weight: 400;
	font-size: 13px;
	line-height: 24px;
}

.wrap-services {
	display: flex;
	padding-bottom: 100px;
}

.list-couriers {
	font-family: "Cuprum", Arial, sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
}

.wrap-company-description {
	display: flex;
	justify-content: space-between;
	margin-bottom: 70px;
}

.company-description {
	width: 480px;
}

.wrap-content {
	display: grid;
	grid-template-columns: 220px 1fr;
	grid-template-rows: 38px 1fr;
	margin-top: 20px;
	margin-bottom: 47px;
}

.filter {
	grid-row-start: 1;
	grid-row-end: 3;
}

.sorting {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-left: 20px;
}

.product-cards {
	display: flex;
	flex-wrap: wrap;
	padding-top: 27px;
}

.page-navigation {
	grid-column-start: 2;
	grid-row-start: 3;
}

.sorting-button-up,
.sorting-button-dwn {
	width: 12px;
	height: 18px;
	margin-right: 18px;
	background-color: transparent;

}

.sorting-button-up .sorting-icon {
	transform: rotate(180deg);
}

.sorting-icon path {
	fill: var(--basic-silver);
	padding-right: 21px;
}

.sorting-icon path:hover {
	fill: var(--basic-black);
	padding-right: 21px;
}

.sorting-icon path:active {
	fill: var(--basic-carmine-pink);
	padding-right: 21px;
}

.ul-page-nav {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	list-style-type: none;
	min-height: inherit;
	padding: 0;
	margin-left: 20px;
}

.ul-page-nav li {
	margin-right: 10px;
}

.wrap-about-rotary {
    background-color: var(--basic-periwinkle-craiola);
}

.about-rotary {
    padding-bottom: 68px;
}

.services-delivery-section {
	width: 619px;
	min-width: 283px;
	margin-left: auto;
	background-image: url(../img/service_delivery_background.png);
	background-position: 150px 56px;
	background-repeat: no-repeat;
}

.list-manufacturers {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: start;
	margin: 0;
}

.list-manufacturers .label-checkbox {
	padding-left: 25px;
	margin-bottom: 16px;
}

.list-manufacturers li:last-child label {
	margin-bottom: 0;

}

.list-manufacturers input[type=checkbox] {
	position: absolute;
  display: block;
  width: 24px;
  height: 24px;
}

.list-manufacturers input[type=radio] {
	position: absolute;
  display: block;
  width: 24px;
  height: 24px;
}

.list-manufacturers input[type=checkbox]+label {
	position: relative;
	padding-left: 40px;
	padding-top: 2px;
	display: inline-block;
	vertical-align: middle;
}

.list-manufacturers input[type=radio]+label {
	position: relative;
	padding-left: 40px;
	padding-top: 2px;
	display: inline-block;
	vertical-align: middle;
}

.list-manufacturers input[type=checkbox]+label::before {
	display: inline-block;
  width: 26px;
  height: 24px;
  background-repeat: no-repeat;
  content: " ";
  vertical-align: middle;
  position: absolute;
  left: 0;
  top: 0;
	background-image: url(../img/checkbox_off.jpg);
}

.list-manufacturers input[type=checkbox]:checked+label::before {
	background-image: url(../img/checkbox_on.jpg);
}

.list-manufacturers input[type=checkbox]:checked+label:hover::before {
	background-image: url(../img/checkbox_on_hover.png);
}

.list-manufacturers input[type=checkbox]+label:hover::before {
	background-image: url(../img/checkbox_off_hover.png);
}

.list-manufacturers input[type=radio]+label::before {
	display: inline-block;
  width: 26px;
  height: 26px;
  background-repeat: no-repeat;
  content: " ";
  vertical-align: middle;
  position: absolute;
  left: 0;
  top: 0;
	background-image: url(../img/radio_off.svg);
}

.list-manufacturers input[type=radio]:checked+label::before {
	background-image: url(../img/radio_on.svg);
}

.list-manufacturers input[type=radio]+label:hover::before {
	background-image: url(../img/radio_off_hover.png);
}

.list-manufacturers input[type=radio]:checked+label:hover::before {
	background-image: url(../img/radio_on_hover.png);
}

.fieldset-wrap {
	border: none;
}

.range-wrap {
	width: 220px;
	min-height: 80px;
	background-color: var(--basic-pearl-white);
	margin-bottom: 28px;
	text-align: center;
}

.range-controls {
	display: inline-block;
	width: 180px;
	position: relative;
	margin-top: 18%;
}

.range-controls button {
	background: var(--basic-white-aluminum);
}
	
.scale {
	height: 2px;
	background-color: var(--basic-pale-blue);
}

.range-toggle {
	position: absolute;
  top: -9px;
  width: 20px;
  height: 20px;
  border: 8px solid #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0,1,1,.2);
  box-shadow: 0 2px 1px 0 rgba(0,1,1,.2);
  cursor: pointer;
  padding: 0;
}

.range-toggle-min {
	left: 0;
}

.range-toggle-max {
	left: 79.5%;
}

.bar {
	width: 83%;
  height: 2px;
  background: var(--basic-dark-green);
}

.price-max, .price-min{
	display: inline-block;
	padding: 0;
	border: none;
	width: 95px;
	min-height: 38px;
	text-align: center;
	background-color: var(--basic-pearl-white);
}

.price-max {
	margin-left: auto;
}

.wrap-price {
	position: relative;
	display: flex;
}

.wrap-price::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 48%;
	right: 50%;
	bottom: 50%;
	width: 10px;
	height: 1.2px;
	background-color: var(--basic-black);
}

.h-color {
	padding-left: 28px;
	color: var(--basic-purple-blue);
	background-color: var( --basic-periwinkle-craiola);
}

.contact-block {
	width: 270px;
	text-align: center;
}

.wrap-cont-number {
	width: 270px;
  border: solid 3px #ffffff;
}

.buy-popup {
	display: none;
}

.wrap-logo {
	position: relative;
	justify-content: flex-end;
}

.wrap-head-slider {
	background-color: rgba(0, 0, 0, 0.25);
	padding-top: 25px;
	padding-bottom: 25px;
}

.wrap-slider-button {
	margin-top: 18px;
}

.wrap-slider-radio {
	position: absolute;
	width: 60px;
	left: 295px;
	bottom: 36px;
}

.wrap-slider-radio label {
	margin-left: 10px;
}

.wrap-slider-radio input[type=radio]+label{
	position: relative;
	display: inline-block;
	width: 10px;
	height: 10px;
}

.wrap-slider-radio input[type=radio]+label::before {
	position: absolute;
	content: "";
	width: 10px;
	height: 10px;
	background-image: url(../img/slider_radio_off.png);
}

.wrap-slider-radio input[type=radio]:checked+label::before {
	position: absolute;
	content: "";
	width: 10px;
	height: 10px;
	background-image: url(../img/slider_radio_on.png);
}

.my-orders {
	margin-left: 18px;
}

.personal-area {
	position: relative;
	padding-left: 20px;
}

.personal-area::before {
	position: absolute;
	left: 0;
	left: 5px;
	top: 6px;
	content: "";
	width: 6px;
	height: 6px;
	background: linear-gradient(0deg, var(--basic-purple-blue), var(--basic-purple-blue)), #FFFFFF;
	border-radius: 100px;
}

.wrap-sorting p {
	margin-top: 0;
	margin-bottom: 0;
}

.wrap-sorting {
	width: 618px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.sortinf-price {
	margin-right: 70px;
}

.sorting-type {
	margin-right: 65px;
}

.sortinf-function {
	margin-right: 46px;
}

.product-cards article {
	margin-bottom: 17px;
	min-height: 318px;
}

.wrap-img {
	order: -1;
	height: 170px;
	
	line-height: 170px;
}

.wrap-img img {
	
	vertical-align: middle;
	
}

.wrap-p-price {
	margin-top: 7px;
	text-align: center;
}

.label-radio {
	margin-bottom: 16px;
}

.form-filter .fieldset-wrap:nth-child(-n+2) {
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid var(--basic-gainsborough);
	padding: 0;
	padding-bottom: 25px;
	margin: 0;
}

.fieldset-wrap {
	padding: 0;
	padding-bottom: 25px;
	margin: 0;
}

.head-about {
	padding-top: 64px;
}

.basket-active {
	background-color: var(--basic-carmine-pink);
}

.sortinf-price, .sorting-type, .sortinf-function {
	color: var(--basic-black);
	opacity: 0.3;
	text-decoration: underline dotted var(--basic-carmine-pink);
	text-transform: uppercase;
	font-size: 13px;
	line-height: 18px;
}

.sortinf-price-active {
	color: var(--basic-carmine-pink);
	text-decoration: none;
	opacity: 1;
}

.sorting-icon-active path{
	fill: var(--basic-carmine-pink);
}

